<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.temenos.ds.learnsirius.uml.presentation.UmlModelWizardID"
            name="%_UI_UmlModelWizard_label"
            class="com.temenos.ds.learnsirius.uml.presentation.UmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UmlModelFile.gif">
         <description>%_UI_UmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uml -->
      <editor
            id="com.temenos.ds.learnsirius.uml.presentation.UmlEditorID"
            name="%_UI_UmlEditor_label"
            icon="icons/full/obj16/UmlModelFile.gif"
            extensions="uml"
            class="com.temenos.ds.learnsirius.uml.presentation.UmlEditor"
            contributorClass="com.temenos.ds.learnsirius.uml.presentation.UmlActionBarContributor">
      </editor>
   </extension>

</plugin>
